body {

    margin: 0;
    font-family: "sans-serif";
    min-width: 1400px;

}

nav ul {

    padding-left: 5%;
    margin-right: 15%;
}

nav li {

    list-style-type: none;
    padding-bottom: 15px;
    background-color: #D5D0C7;
    padding: 15px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: thin;
}

#navHeader {

    height: 0.5em;
    background-color: #796F5D;
}

nav li:hover {

    color: #FFF;
    background-color: #958c7f;
}

nav a {

    color: #af292e;
    text-decoration: none;
}

nav a:hover {

    color: #D2D2D2;
}

nav a.active {

    color: #F9FF00;
}

nav a.active li {

    background-color: #A58C7F;
}

nav a.active:hover {

    color: #A2A2A2;
}

#namenav{
  background-color: #A5A5A5;
}

header.row.centered {

    background-color: #9A332F;
    height: 150px;
    margin-bottom: 0;
}

.content {

    background-color: #EEE9E5;
    padding-bottom: 150px;
    min-height: 800px;
}

section.wrapper {

    background-color: #B24439;
    margin: 0;
}
ul.mainNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 300;
    float: right;
}

ul.mainNav img {
    height: 80px;
    width: 220px;
}
ul.mainNav li {
    text-align: right;
    font-family: "Francois One", "sans-serif";
    font-weight: 500;
    color: #FFF;
}

ul.mainNav li a {

    text-decoration: none;
    color: #FFF;
}

ul.mainNav li a:hover {

    color: #A2A2A2;
}

ul.mainNav li.slogan {

    font-family: "Francois One", "sans-serif";
    color: #732B24;
    font-size: 25px;
    line-height: 2em;
    font-weight: 800;
    text-decoration: none;
}

ul.mainNav.left {
    float: left;
}

ul.mainNav.left li {
    float: left;
}

section.col-4 img {
    margin-top: 25px;
}

article h1 {
    margin-top: 50px;
}

section.col-4 {

    padding-right: 5px;
}

footer {
    background-color: #D5D0C7;
    font-size: 0.75em;
}

footer section.row.centered {

    padding-bottom: 5px;
    margin: 0;
}

footer section.row.centered {

    text-align: center;
    align-items: baseline;
}

footer section ul, footer section li {
  padding: 0;
    list-style-type: none;
    text-align: center;
}

footer a {

    color: #af292e;
    text-transform: capitalize;
    font-weight: 800;
    text-decoration: none;
}

table{
    line-height: 3
}

th, td {
    padding: 20px;
    line-height: 1.5em;
    text-align: left;
}
footer a:hover {

    text-decoration: underline;
}
